@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.item {
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    list-style: none;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    transition: all .7s ease-in-out;
}

.item:hover {
    flex-grow: 10;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.item:hover .text {
    font-size: 40px;
    text-shadow: 2px 2px 12px rgb(0, 0, 0);
}

.primeiro {
    background-image: url("../img/genshin-impact.jpg");
}

.segundo {
    background-image: url("../img/touhou.jpg");
}

.terceiro {
    background-image: url("../img/vtuber.jpg");
}

.quarto {
    background-image: url("../img/girl-frontline.jpg");
}

@media screen and (max-width: 720px) {
    .container {
        flex-direction: column;
    }

    .text {
        font-size: 16px;
    }
}